{% extends 'base.html' %}
{% load staticfiles i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>

<form action="" method="POST">
  {% csrf_token %}
    <div>
        {{ form.email.errors }}
        <label>{% trans 'Email address:' %}</label>
        {{ form.email }}
    </div>
    <input type="submit" value="{% trans 'Reset my password' %}" />
</form>
{% endblock content %}
